.panel {
    display: flex;
    flex-direction: row;
    flex: 0;
}

.svg {
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
    padding: 8px;
}

.svg:hover {
    background-color: var(--hover-background-color);
}
